* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

/*-----HEADER-----*/

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-top {
    margin-top: 20px;
}

.header-bottom {
    margin: 50px 0px;
    gap: 20px;
}

.logo {
    font-size: 24px;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.title-info {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}

.header-text {
    font-size: 48px;
    font-weight: bold;
}

.title-info button {
    background-color: #3882F6;
    padding: 5px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    border-radius: 4px;
}

.img-box {
    background-color: gray;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----INFORMATION-----*/

.information {
    display: flex;
    flex-direction: column;
    padding: 75px;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 20px;
    align-self: center;
}

.info-box {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    align-self: center;
}

.info-pics {
    width: 150px;
}

.box {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.info-box {
    text-align: center;
}

/*-----TESTIMONIAL-----*/

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 75px;
}

.quote {
    max-width: 900px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-top: 50px;
    align-self: center;
}

.quote-source {
   color: #1F2937;
   font-weight: bold;
   align-self: flex-end;
}

/*-----ACTION-----*/

.action {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    margin: 75px 125px;
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.action-text p {
    color: #E5E7EB;
}

.action button {
    background-color: #3882F6;
    padding: 5px 15px;
    width: 125px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 4px;
}

/*-----FOOTER-----*/

.footer {
    background-color: #1F2937;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.footer p {
    color: #F9FAF8;
}